.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: start !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: end !important;
}

.section-title {
    color: $primary;
    font-family: $medium-font;
    font-size: calcRem(28);
    line-height: 1.3;
    margin-bottom: calcRem(15);
}

.section-subtitle {
    line-height: 1.3;
    margin-bottom: 15px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}