.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    &.is-open {
        overflow: hidden;

        @include mq('lg') {
            overflow: visible;

            &::after {
                display: none;
            }
        }

        #menu-overlay {
            position: fixed;
            width: 100%;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
    }

    // Header and footer top and buttom
    .header,
    .footer {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    // Main Css
    .main {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        z-index: 1;
    }
}