%scroll {
  scrollbar-width: thin;
  scrollbar-color: $primary $white;

  // /* width */
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
}